header{
    text-align: center;
}
* {
    margin:0;
    padding:0; 
    text-align: center;
    }
    .col1 {
    position:absolute;
    top:0px;
    left:1rem;
    width:40rem;
    height: 70rem;
    margin-top:4rem;
    background-color:#ffff55;
    }
    .col2 {
    margin-left:43rem;
    margin-right:2rem;
    width:40rem;
    height: 70rem;
    margin-top:1.5rem;
    background-color:#ffffbb;
    }