<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" src="templates/style.css">
    <title>Autoptimizador</title>
</head>
<body>
    <header ><h1>Autoptimizador</h1></header>
<div>
    <div id="contenedor">
        <p>Ingresa los datos de tu veiculo, tu ubicacion y destino</p>
        <form action="{{url_for('predecir')}}" method="post">
            <input type="text" name="marca" placeholder="Marca de tu vahiculo" required="required">
            <input type="number" name="gasolina" placeholder="Cantidad de vencina" required="required">
            <input type="text" name="ubicacion" placeholder="Tu ubucacion" required="required">
            <input type="text" name="destino" placeholder="Tu destino" required="required">
            <input type="text" name="siNo" placeholder="Escuchar indicaciones basicas antes de partir(si o no)" required="required">
            <button type="submit" class="botonera">Crear ruta</button>

        </form>
    </div>
</div>
<br>
<br>
{{ prediccion_texto }}
</body>
</html>